/*

.list-group-item {
  color: black;
} */

.game-play {
  max-width: 950px;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.button-padding {
  margin-top: 17px;
}

.tamagatchi-stats {
  padding-bottom: 10px;
}

.coin {
  float: left;
  margin: 10px;
}
